@import '../../common/styles/variables.scss';

.grid {
    display: grid;
}

.main-header {
    z-index: 0;
    min-height: 100vh;
    background-image: url(../../assets/images/0-header.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    align-content: center;
    &:before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $dark;
        opacity: .92;
        z-index: 1;
    }
    &__content {
        position: absolute;
        z-index: 1;
        color: #ffffff;
        text-align: center;
        padding: 60px $gutter;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
    &__title {
        font-size: 4rem;
		font-family: intro-grid, sans-serif;
		font-weight: bold;
		margin: 20px 0;
        line-height: 1.5;
        text-transform: uppercase;
    }
}

.button {
	display: inline-block;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: $base-font-color;
	padding: 10px 60px;
	font-size: 20px;
	font-weight: 800;
	border-radius: 2px;
	text-align: center;
	position: relative;
	outline: none;
	transition: background-color .1s ease;
	cursor: pointer;
	&:after {
		transition: background-color .2s ease;
		position: absolute;
		content: '';
		height: 4px;
		bottom: 0;
		width: 100%;
		background-color: darken($base-font-color, 50%);
		opacity: .18;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
        left: 0;
    }
	&:focus, &:hover {
		text-decoration: none;
        color: #fff;
    }
	&:hover {
		background-color: lighten($base-font-color, 5%);
		&:after {
            opacity: .22;
        }
    }
	&:active {
		background-color: darken($base-font-color, 5%);
		&::after {
            opacity: .32;
        }
    }
	&.button-gray {
		background-color: $gray;
		&:after {
            background-color: darken($gray, 15%);
        }
		&:hover{
			background-color: lighten($gray, 5%);
			&:after {
                opacity: .22;
            }
		&:active {
			background-color: darken($gray, 5%);
			&:after {
                opacity: .32;
            }
        }
        }
    }
}