@import '../../common/styles/variables.scss';

.grid {
    display: grid;
}

.portfolio-section {
    padding: 10px;
	grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    &__item {
        min-height: 32vh;
        background-size: cover;
        background-position: center;
        text-align: center;
        align-content: center;
        padding: $gutter;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        position: relative;
        transition: color .5s ease;
        cursor: pointer;
        &_one {
            grid-column: 1 / 3;
            background-image: url(../../assets/images/1.jpg);
        }
        &_two {
            background-image: url(../../assets/images/2.jpg);
        }
        &_three {
            background-image: url(../../assets/images/3.jpg);
        }
        &_fore {
            background-image: url(../../assets/images/4.jpg);
        }
        &_five {
            grid-column: 2 / 4;
            background-image: url(../../assets/images/5.jpg);
        }
        &_six {
            grid-column: 4;
            grid-row:  2 / 4;
            background-image: url(../../assets/images/6.jpg);
        }
        &_seven {
            background-image: url(../../assets/images/7.jpg);
        }
        &_eight {
            background-image: url(../../assets/images/8.jpg);
        }
        &_nine {
            background-image: url(../../assets/images/9.jpg);
        }
        &:hover {
            color: $base-font-color;
            z-index: 1;
        }
		&:before {
            opacity: .85;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $dark;
            opacity: .65;
            transition: opacity .5s ease;
            > * {
            z-index: 1;
            }
            &:nth-child(1) {
                grid-column: 1 / 3;
            }
            &:nth-child(5) {
                grid-column: 2 / 4;
            }
            &:nth-child(6)  {
                grid-column: 4;
                grid-row:  2 / 4;
            }
        }
    }
    &__text {
        z-index: 1;
    }
}

.button_case {
	grid-column: 1 / 5;
    padding: $gutter $gutter 50px;
}

.container {
	max-width: 1200px;
	margin: auto;
	padding: 0 $gutter;
}

.landing-section {
    padding: 80px 0;
}

.section-ready {
    background-color: $light;
    &__title {
        font-size: 34px;
		font-weight: 800;
		color: $dark;
        line-height: 1.2;
        margin-top: 0;
		margin-bottom: 40px;
    }
    &__container {
        grid-template-columns: 1fr 1fr;
    }
    &__left {
        border-right: 1px solid #dadada;
        font-size: 16px;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-right: 60px;
    }
    &__right {
        padding-left: 40px
    }
}

.form-section {
	padding: 30px 0;
    background-color: $dark;
    &__input {
        background-color: lighten($dark, 6%);
    }
	&__grids {
		grid-gap: $gutter;
        grid-template-columns: repeat(4, 1fr);
    }
	&__button {
		font-size: 17px;
		padding: 14.5px;
        width: 100%;
    }
}

input, textarea {
	border: none;
	padding: 15px 20px;
	width: 100%;
	font-family: Arial, sans-serif;
	font-style: italic;
	outline: none;
	transition: background-color .25s ease;
	&:focus {
        background-color: $light;
    }
	&:placeholder {
        color: lighten($dark, 20%);
    }
}

.section-blog {
    &__h2-title {
        font-size: 43px;
        margin-top: 0;
        margin-bottom: 50px;
    }
    &__button_case {
        padding-bottom: 0;
    }
    &__home {
        grid-gap: $gutter;
	    grid-template-columns: repeat(4, 1fr);
    }
    &__img {
        height: 270px;
        background-size: cover;
        background-position: center;
        transition: transform .25s ease;
        &:hover {
            transform: scale(1.05) translateY(-6.5px);
        }
        &_one {
            background-image: url(../../assets/images/1.jpg);
        }
        &_two {
            background-image: url(../../assets/images/2.jpg);
        }
        &_three {
            background-image: url(../../assets/images/3.jpg);
        }
        &_fore {
            background-image: url(../../assets/images/4.jpg);
        }
        &_five {
            background-image: url(../../assets/images/5.jpg);
        }
        &_six {
            background-image: url(../../assets/images/6.jpg);
        }
    }
    &__item {
        background-color: #F7F7F7;
        text-decoration: none;
        grid-template-rows: 1fr 1fr;
        transition: background-color .25s ease;
        overflow: hidden;
        color: #333;
        &:nth-child(3) {
            grid-column: 3 / 5;
        }
        &:nth-child(4) {
            grid-column: 1 / 3;
        }
        &:hover {
            background-color: $light;
            &__title {
                color: $dark;
            }
        }

    }
}

.section-blog__item_content {
    padding: 0px;
    text-align: center;
    align-content: center;
    &__title {
        font-size: 18px;
        color: #666;
        line-height: 1.3;
        margin: 0;
        transition: color .25s ease;
    }
    &__text {
        margin-top: 0px;
        margin-bottom: 0;
    }
    &:hover {
        background-color: $light;
        &__title {
            color: $dark;
        }
    }
}

.main-footer {
    padding: 60px 0;
	background-color: darken($dark, 8%);
	text-align: center;
    color: #4E5355;
    &__logo {
        font-family: intro-grid, sans-serif;
	    font-size: 22px;
        line-height: 1.16;
        &_spans {
            display: block;
		    color: #707476;
		    font-size: 26.8px;
        }
    }
    &__copy {
        font-size: 20px;
	    font-weight: bold;
	    color: #494D50;
	    margin-top: 20px;
    }
}


/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.section-blog__home {
		grid-template-columns: repeat(3, 1fr);
    }
    .section-blog__button_case {
        grid-column: 1 / 4;
    }
	.section-blog__item {
		&:nth-child(3) {
			grid-column: 2 / 3;
            grid-row: 1;
        }
		&:nth-child(4) {
			grid-column: 1 / 2;
            grid-row: 2;
        }
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .section-blog__home {
		grid-template-columns: 1fr;
		&__button_case {
            grid-column: 1 / 2;
        }
    }
	.button {
        font-size: 18px;
    }
	.button_case {
        grid-column: 1 / 4;
    }
    .main-header__content {
        &__title {
			font-size: 50px;
			line-height: 1.3;
        }
    }
	.portfolio-section {
        grid-template-columns: repeat(3, 1fr);
    }
	.portfolio-item {
		min-height: 40vh;
		font-size: 16px;
		&:nth-child(4){
			grid-column: 2 / 4;
		&:nth-child(5){
			grid-column: 1 / 3;
            grid-row: initial;
        }
		&:nth-child(6) {
			grid-column: initial;
            grid-row:  initial;
        }
    }
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.main-header__content {
        padding: 40px 20px;
    }
    .main-header__title {
        font-size: 50px;
    }

	.lending-section {
        padding: 50px 0
    }
    .section-ready__title {
        text-align: center;
        font-size: 28px;
        margin-bottom: 26px;
    }

    .section-ready__container{
        grid-template-columns: 1fr;
        div {
            padding: 0 8%;
            border: none;
        }
    }
	.form-section {
        padding: 10px;
    &__grids {
            grid-template-columns: 1fr 1fr;
        }
    }
    .section-blog__item {
    &:nth-child(3) {
        grid-column: initial;
    }
    &:nth-child(4) {
        grid-column: initial;
    }

    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	/**/
	.main-header__content {
		&__title {
            font-size: 40px;
        }
    }
	.portfolio-section {
        grid-template-columns:  1fr;
	&__item {
		min-height: 50vh;
		&:nth-child(1) {
            grid-column: initial;
        }
		&:nth-child(4) {
            grid-column: initial;
        }
		&:nth-child(5) {
            grid-column: initial;
        }
    }
    }
	.button_case {
        grid-column: 1/ 2;
    }

	.form-section {
        padding: 10px;
	    &__grids {
            grid-template-columns: 1fr;
    }
    }
}